.login-title {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrap {
    background-image: url('/assets/login-bg.png');
}

.login-left {
    background-image: url('/assets/login-left-bg.png');
}