<div class="bg-white">
    <div class="layout-header flex justify-between items-center h-20 px-10">
    
        <img src="assets/brand.png" class="h-16 object-cover object-center" alt="">
    
        <div>
            <a nz-button nzType="text" class="text-white">
                <span class="font-bold text-lg">Home</span>
            </a>
            <a nz-button nzType="text" class="text-white" routerLink="/">
                <span class="font-bold text-lg">Home Network</span>
            </a>
            <a nz-button nzType="text" class="text-white">
                <span class="font-bold text-lg">Upgrade</span>
            </a>
            <a nz-button nzType="text" class="text-white">
                <span class="font-bold text-lg">System</span>
            </a>
        </div>
    
        <!-- <div class="flex items-center">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            <span>{{authService.user}}</span>
        </div> -->
    
    </div>
</div>