<div class="layout-header flex justify-between items-center h-12 px-3">
    
    <img src="assets/bannder.jpg" class="h-full object-cover object-center" alt="">

    <div>
        <a nz-button nzType="text" class="text-white">
            <span class="text-white">Home</span>
        </a>
        <a nz-button nzType="text" class="text-white" routerLink="/">
            <span class="text-white">Home Network</span>
        </a>
        <a nz-button nzType="text" class="text-white">
            <span class="text-white">Upgrade</span>
        </a>
        <a nz-button nzType="text" class="text-white">
            <span class="text-white">System</span>
        </a>
    </div>

    <div class="flex items-center">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>{{authService.user}}</span>
    </div>

</div>