<div>
    <span class="cursor-pointer text-primary">
        <i nz-icon nzType="filter" nzTheme="outline"></i>
    </span>
</div>

<nz-divider></nz-divider>

<div>
    <span>assessed on:</span>

    <button nz-button nzType="primary" nzGhost class="mx-2">Today</button>
    <button nz-button nzType="default" class="mx-2">Yesterday</button>
    <button nz-button nzType="default" class="mx-2">05-07</button>
    <button nz-button nzType="default" class="mx-2">05-06</button>
    <button nz-button nzType="default" class="mx-2">05-05</button>
    <button nz-button nzType="default" class="mx-2">05-04</button>
    <button nz-button nzType="default" class="mx-2">05-03</button>
    <button nz-button nzType="default" class="mx-2">05-02</button>

</div>

<div class="mt-3">
    <span>Subscribed bandwidth: </span>
    <span nz-typography>
        <a >All</a>
    </span>
</div>

<div class="mt-3">
    <span>Any issue resolved: </span>

    <span nz-typography class="text-primary mx-2">All</span>
    <span nz-typography class="mx-2">Yes</span>
    <span nz-typography class="mx-2">No</span>
</div>

<div class="mt-3">
    <span>Game acceleration:</span>

    <span nz-typography class="text-primary mx-2">All</span>
    <span nz-typography class="mx-2">Enabled</span>
    <span nz-typography class="mx-2">Disabled</span>
    <span nz-typography class="mx-2">Not supported</span>
</div>

<div class="mt-3">
    <span>Education acceleration:</span>

    <span nz-typography class="text-primary mx-2">All</span>
    <span nz-typography class="mx-2">Enabled</span>
    <span nz-typography class="mx-2">Disabled</span>
    <span nz-typography class="mx-2">Not supported</span>
</div>

<div class="mt-3">
    <span>Office acceleration:</span>

    <span nz-typography class="active">All</span>
    <span nz-typography>Enabled</span>
    <span nz-typography>Disabled</span>
    <span nz-typography>Not supported</span>
</div>

<div class="flex justify-center px-5 mt-3">
    <span class="rotate-90 cursor-pointer m-3 hover:text-primary">
        <i nz-icon nzType="double-left" nzTheme="outline"></i>
    </span>
</div>