<nz-table #subscribes 
    nzSize="small"
    [nzData]="['']" 
    [nzLoading]="loading"
    [nzShowPagination]="false">
    <thead>
        <tr>
            <th>Gateway MAC Adress</th>
            <th nzEllipsis>Broadband Account</th>
            <th>Gateway Model</th>
            <th>Current Software Version</th>
            <th>Online Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subscriber of subscribers">
            <td>
                <a nz-typography routerLink="/topology">{{subscriber.mac_adress}}</a>
            </td>
            <td>{{subscriber.broadbrand_account}}</td>
            <td>{{subscriber.gateway_model}}</td>
            <td>{{subscriber.software_version}}</td>
            <td>
                <span 
                    [ngClass]="{'bg-success': subscriber.online_status, 'bg-secondary': !subscriber.online_status}" 
                    class="py-1 px-2 rounded text-white">
                    {{subscriber.online_status ? 'online' : 'offline'}}
                </span>
            </td>
        </tr>
    </tbody>
</nz-table>