<div class="flex justify-between items-center">
    <div class="w-full md:w-1/3">
        <nz-input-group [nzSuffix]="searchIcon">
            <input type="text" nz-input [(ngModel)]="keySearch"
                placeholder="Enter a manufacture, product class, serial number, mac address">
        </nz-input-group>
        <ng-template #searchIcon>
            <i nz-icon nzType="search" nzTheme="outline"></i>
        </ng-template>
    </div>
    <button nz-button nzType="primary">Export</button>
</div>
<div class="mt-3 overflow-x-auto rounded-t-xl">
    <nz-table nzSize="small" [nzData]="['']" [nzShowPagination]="false" [nzLoading]="loading">
        <thead>
            <tr>
                <th>Device Name/Alias</th>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Interface</th>
                <th>Standard</th>
                <th>Signal Strength</th>
                <th>Phy Rate (%)</th>
                <th>Quality</th>
                <th>Error Rate Sent</th>
                <th>Error Rate Received</th>
            </tr>
        </thead>

        <tbody *ngIf="groupBy === 'ap'">
            <ng-container *ngFor="let row of flattern |deviceFilter: keySearch">
                <tr *ngIf="row.level === 0 || (expandSet.has(row.parent))">
                    <td [nzIndentSize]="row.level * 20" [nzShowExpand]="row.children"
                        [nzExpand]="expandSet.has(row.key)" (nzExpandChange)="changeExpand(row.key, $event)">
                        {{row.param.name}}
                    </td>
                    <td>
                        <a href="" nz-typography>{{row.param.mac_address || '--'}}</a>
                    </td>
                    <td>{{row.param.ip_address || '--'}}</td>
                    <td>{{row.param.interface || '--'}}</td>
                    <td>{{row.param.standard || '--'}}</td>
                    <td>{{row.param.signal_strength || '--'}}</td>
                    <td>{{row.param.phyRate || '--'}}</td>
                    <td>{{row.param.quality || '--'}}</td>
                    <td>{{row.param.error_rate_sent || '--'}}</td>
                    <td>{{row.param.error_rate_received || '--'}}</td>
                </tr>
            </ng-container>
        </tbody>


        <tbody *ngIf="groupBy === 'none'">
            <tr *ngFor="let row of devices | deviceFilter: keySearch">
                <td>{{row.param.name}}</td>
                <td>
                    <a href="" nz-typography>{{row.param.mac_address || '--'}}</a>
                </td>
                <td>{{row.param.ip_address || '--'}}</td>
                <td>{{row.param.interface || '--'}}</td>
                <td>{{row.param.standard || '--'}}</td>
                <td>{{row.param.signal_strength || '--'}}</td>
                <td>{{row.param.phyRate || '--'}}</td>
                <td>{{row.param.quality || '--'}}</td>
                <td>{{row.param.error_rate_sent || '--'}}</td>
                <td>{{row.param.error_rate_received || '--'}}</td>
            </tr>
        </tbody>

    </nz-table>
</div>