<!-- <nz-card>

    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <nz-button-group>
                <button nz-button 
                        [nzType]="tab === 'index' ? 'primary' : 'default'" 
                        (click)="changeTab('index')">Topology</button>
                <button nz-button 
                        [nzType]="tab === 'devices' ? 'primary': 'default'"
                        (click)="changeTab('devices')">Devices</button>
            </nz-button-group>
        </div>

        <div class="flex items-center">
            <i nz-icon nzType="setting" class="mx-2" nzTheme="outline"></i>
            <a nz-typography (click)="openWifiConfig()">Wifi Configuratioin</a>
        </div>
    </div>

   

    <app-topology-index 
        *ngIf="tab === 'index'"
        [path]="topo">
    </app-topology-index>

    <app-topology-device 
        *ngIf="tab === 'devices'"
        [path]="topo">
    </app-topology-device>

</nz-card> -->



 <!--  -->
<div class="relative">
    <ng-template #hdTemplate>
        <div class="flex items-center text-danger">
            <i nz-icon nzType="setting" class="mx-2" nzTheme="outline"></i>
            <a nz-typography (click)="openWifiConfig()" class="font-bold">Wifi Configuratioin</a>
        </div>
    </ng-template>
    <nz-tabset nzType="card" #tabSet [nzTabBarExtraContent]="hdTemplate">
        <nz-tab nzTitle="Topology">
            <app-topology-index *ngIf="tab === 'index'" [path]="topo">
            </app-topology-index>
        </nz-tab>
    
        <nz-tab nzTitle="Devices">
            <app-topology-device  [path]="topo">
            </app-topology-device>
        </nz-tab>

    </nz-tabset>

</div>
<!--  -->